<template>
  <div>
    <input type="text" v-model="comment" >
    <button class="commentButton" @click="addComment()">
      <font-awesome-icon size="2x" :icon="[ 'far', 'paper-plane' ]"/>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'AddComment',
    props: {
      onComment: Function,
      index: Number
    },
    data(){
      return {
        comment: ''
      }
    },
    methods:{
      addComment(){
        if(this.comment) {
          this.onComment(this.comment, this.index);
          this.comment = "";
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button {
    outline: none;
  }
  button {
    background-color: Transparent;
    border: 0;
  }
  input[type=text] {
    margin-left: 10px;
    border: 0 none;
    flex: 4;
    background-color: transparent;
  }
  button:focus {
    outline:0;
  }
  .commentButton{
    float: right;
  }
</style>
