<template>
  <div class="comment-list">
    <p v-for="comment in comments">{{ comment }}</p>
  </div>
</template>

<script>
  export default {
    name: 'CommentList',
    props: {
      comments: Array
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .comment-list{
    padding: 0 10px;
  }
  .comment-list p {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 10px 0;
  }
</style>
