<template>
  <button @click='onLike(feed, index)' style="position: relative">
    <font-awesome-icon size="2x" :icon="[ 'far', 'heart' ]" v-if="feed.like >=3" color="red"/>
    <font-awesome-icon size="2x" :icon="[ 'far', 'heart' ]" v-else-if="feed.like >0" color="gray"/>
    <font-awesome-icon size="2x" :icon="[ 'far', 'heart' ]" v-else-if="feed.like < 1" color="black"/>
    <span v-if="feed.like" class="counter">{{ formatNumber(feed.like)}}</span>
  </button>
</template>

<script>
  import { formatNumber } from '../services/utils';
  export default {
    name: 'LikeFeed',
    props: {
      onLike: Function,
      feed: Object,
      index: Number
    },
    methods:{
      formatNumber(number) {
        return formatNumber(number)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button {
    outline: none;
  }
  section{
    display: flex;
    align-items: center;
    padding: 10px 15px 0 15px;
  }
  span{
    margin-left: 10px;
  }
  .comment-list p {
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 10px 0;
  }
  button {
    background-color: Transparent;
    border: 0;
  }
  .counter{
    position: absolute;
    color: black;
    font-size: 9px;
    z-index: 100;
    top: 9px;
    left: 50%;
    margin-left: -10px;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    text-align: center;
  }
  button:focus {
    outline:0;
  }
</style>
