<template>
  <li>
    <div class="card single-feed" style="width: 18rem;">
      <div class="avatarCont">
        <img :src="feed.avatar" alt="Avatar" class="avatar">
        <h5 class="userName">{{ feed.name }}</h5>
      </div>
      <div>
        <img :src="feed.item.url" class="card-img-top image">
        <h5 class="name">{{feed.item.name}}</h5>
        <section>
          <div class="price">
            <span>{{ feed.item.price }}</span>
          </div>
          <div class="like">
            <button @click='toggleComment(feed, index)' style="position: relative">
              <font-awesome-icon size="2x" :icon="[ 'far', 'comment' ]"/>
              <span v-if="feed.comments.length" class="counter">{{feed.comments.length}}</span>
            </button>
          </div>
          <LikeFeed :onLike="onLike"
                    :feed="feed"
                    :index="index"/>
        </section>
      </div>
      <CommentList :comments="feed.comments" />
    </div>
    <div class="input-group comment-input" v-if="feed.isShowComment">
      <AddComment :onComment="onComment"
                  :index="index"/>
      <div class="separator"/>
    </div>
  </li>
</template>

<script>
  import AddComment from './AddComment';
  import CommentList from './CommentList';
  import LikeFeed from './LikeFeed';

  export default {
    name: 'SingleFeed',
    components: {
      AddComment,
      CommentList,
      LikeFeed
    },
    props: {
      onLike: Function,
      onComment: Function,
      toggleComment: Function,
      feed: Object,
      index: Number
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button {
    outline: none;
  }
  .single-feed{
    margin: 50px 0;
    padding: 10px 0;
    border: none;
  }
  .name {
    position: absolute;
    top: 295px;
    left: 20px;
    color: white;
  }
  .image {
    height: 250px;
  }
  .avatar {
    width:50px;
    height: 50px;
    border-radius: 50%;
  }
  .avatarCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .userName {
    margin-left: 10px;
  }
  section{
    display: flex;
    align-items: center;
    padding: 10px 15px 0 15px;
  }
  span{
    margin-left: 10px;
  }
  .price{
    flex: 3;
    text-align: left;
  }
  .like{
    flex: 1;
  }
  .comment-input{
    display: flex;
    background-color: white;
    padding: 10px 0 10px 0;
    flex-direction: column;
  }
  button {
    background-color: Transparent;
    border: 0;
  }
  .counter{
    position: absolute;
    color: black;
    font-size: 9px;
    z-index: 100;
    top: 9px;
    left: 50%;
    margin-left: -10px;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    text-align: center;
  }
  button:focus {
    outline:0;
  }
  .separator{
    background-color: #949494;
    padding: 1px;
  }
</style>
