<template>
  <div class="mainCont">
    <ul>
      <SingleFeed v-for="(feed, index) in feeds"
                  :feed="feed"
                  :index="index"
                  :key="index"
                  :toggleComment="toggleComment"
                  :onLike="incrementValue"
                  :onComment="addComment"
      />
    </ul>
  </div>
</template>

<script>
import { getUsersFeed } from '../services/users';
import SingleFeed from './SingleFeed';

export default {
  name: 'UsersFeed',
  components: {
    SingleFeed
  },
  data(){
    return {
      feeds: []
    }
  },

  created() {
    this.feeds = getUsersFeed();
  },

  methods:{
    incrementValue(feed, index){
      this.feeds[index].like = ++feed.like
    },
    toggleComment(feed, index){
      this.feeds[index].isShowComment = !feed.isShowComment
    },
    addComment(comment, index){
      this.feeds[index].comments.push(comment);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .mainCont{
    display: flex;
    justify-content: center;
  }
ul {
  list-style-type: none;
  padding: 0;
}
</style>
