<template>
  <div id="app">
    <UsersFeed/>
  </div>
</template>

<script>
import UsersFeed from './components/UsersFeed'

export default {
  name: 'app',
  components: {
    UsersFeed
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b7b7b7;
}
</style>
